extends layout

block content
  script(src="/javascripts/index.js")
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      h1#MealBuddy MealBuddy
      button#mealCart.btn.btn-default
        .glyphicon.glyphicon-shopping-cart(type='button', style='display:inline-block;')
        p#cartQuantity(style='display:inline-block;') 0  
  h2.display-4.m-b-2 Criterias
  .main.container-fluid 
    form#criteria-form
      table#criteriaTable.form-group
        tr.table-row
          td
            span.glyphicon.glyphicon-remove
          td
            select.form-control.selectpicker.criteria-name(type='text', title='fat, sugar, etc...', data-live-search='true', data-width="200px")
              option(value='fat') fat
              option(value='potassium') potassium
              option(value='sugar') sugar
              option(value='calories') calories
          td
            select.form-control.selectpicker.range-type(data-width="130px")
              option(value='lt') Less than
              option(value='between') Between
              option(value='gt') Greater than
          td
            input.form-control.range1(type='number', size='5', value=30)
          td
            input.form-control.range2(type='number', size=5, value=50, hidden=true)
          td
            select.form-control.selectpicker.priority(data-width="130px")
              option(value='high') High
              option(value='medium', selected='selected') Medium
              option(value='low') Low

        tr.table-row
          td
            span.glyphicon.glyphicon-remove
          td
            select.form-control.selectpicker.criteria-name(type='text', title='fat, sugar, etc...', data-live-search='true', data-width="200px")
              option(value='fat') fat
              option(value='potassium') potassium
              option(value='sugar') sugar
              option(value='calories') calories
          td
            select.form-control.selectpicker.range-type(data-width="130px")
              option(value='lt') Less than
              option(value='between') Between
              option(value='gt') Greater than
          td
            input.form-control.range1(type='number', size='5', value=30)
          td
            input.form-control.range2(type='number', size='5', value=30, hidden=true) 
          td
            select.form-control.selectpicker.priority(data-width="130px")
              option(value='high', selected='selected') High
              option(value='medium') Medium
              option(value='low') Low
          
      select#cuisine-type.form-control.selectpicker(type='text', data-live-search='true', data-width="200px")
        option(value='0') No Preference
        option(value='1') Thai
        option(value='2') Italian
        option(value='3') Indian
    br
    button#add.btn.btn-success(type="button") Add
    button#submit.btn.btn-primary(type="button") Submit
      


  h2 Suggestions

  ul.nav.nav-pills
    li.active 
      a(href='#appetizerTab' data-toggle='pill') Appetizers
    li
      a(href='#mealTab' data-toggle='pill') Meals
    li 
      a(href='#vegatableTab' data-toggle='pill') Vegetables 
    li 
      a(href='#fruitTab' data-toggle='pill') Fruits 
    li 
      a(href='#beverageTab' data-toggle='pill') Beverages
    li 
      a(href='#dessertTab' data-toggle='pill') Desserts  

  .tab-content
    #appetizerTab.tab-pane.fade.in.active
      .container-fluid
        .row
          #appetizerList.card-group
            .card
              img(src='images/default_item_image.jpg')
              .card-block
                h4.card-title Chicken
                p.card-text.
                  Sugar<br>
                  Text
              .card-footer
                small Footer
            .card
              img.card-img-top(src='images/default_item_image.jpg')
              .card-block
                .card-title Chicken
                .card-text
                  p Sugar 
                  p Fat
              .card-footer
                small Footer
            .card.card-primary
              img(src='images/default_item_image.jpg')
              .card-block
                .card-title Chicken
                .card-text
                  p Sugar 
                  p Fat
                  p Sugar 
                  p Fat
                  p Sugar 
                  p Fat
                  p Sugar 
                  p Fat
              .card-footer
                small Footer
            .card
              img(src='images/default_item_image.jpg')
              .card-block
                .card-title Chicken
                .card-text
                  p Sugar 
                  p Fat
              .card-footer
                small Footer
            .card
              img.card-img-top(src='images/default_item_image.jpg')
              .card-block
                .card-title Chicken
                .card-text
                  p Sugar 
                  p Fat
              .card-footer
                small Footer
            .card.card-primary
              img(src='images/default_item_image.jpg')
              .card-block
                .card-title Chicken
                .card-text
                  p Sugar 
                  p Fat
                  p Sugar 
                  p Fat
                  p Sugar 
                  p Fat
                  p Sugar 
                  p Fat
              .card-footer
                small Footer
            .card
              img(src='images/default_item_image.jpg')
              .card-block
                .card-title Chicken
                .card-text
                  p Sugar 
                  p Fat
              .card-footer
                small Footer
            .card
              img.card-img-top(src='images/default_item_image.jpg')
              .card-block
                .card-title Chicken
                .card-text
                  p Sugar 
                  p Fat
              .card-footer
                small Footer
            .card.card-primary
              img(src='images/default_item_image.jpg')
              .card-block
                .card-title Chicken
                .card-text
                  p Sugar 
                  p Fat
                  p Sugar 
                  p Fat
                  p Sugar 
                  p Fat
                  p Sugar 
                  p Fat
              .card-footer
                small Footer
    #mealTab.tab-pane.fade
      .container-fluid
        .row
          #mealList.card-group
    #vegatableTab.tab-pane.fade
      .container-fluid
        .row
          #vegetableList.card-group
    #fruitTab.tab-pane.fade
      .container-fluid
        .row
          #fruitList.card-group
    #beverageTab.tab-pane.fade
      .container-fluid
        .row
          #beverageList.card-group
    #dessertTab.tab-pane.fade
      .container-fluid
        .row
          #dessertList.card-group



  //- Item Modal and Cart Modal
  #itemModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4#item-modal-title.modal-title Food
        .modal-body
          .row
            img#itemInfoImage.img-thumbnail(src="images/default_item_image.jpg")
            #itemInfoCriteriaDesc
            #itemInfoDesc
        .modal-footer
          button.btn.btn-danger.modalButtons(type='button', data-dismiss='modal') Close
          button#addMealCart.btn.btn-primary.modalButtons(type='button') Add To MealCart
          p.modalButtons How Many?
          input#countToAdd.form-control.modalButtons(type='number', size='1', min='1', value=1)
  
  #cartModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4#cart-modal-title.modal-title Your Cart
        #cartModalBody.modal-body
          p#noItems No item in MealCart yet. You can add from suggestions to you Meal Cart
          table#cartItems  
          #cartCriteriaDesc
          table#cartNutritionCount
            tr
              td Calories
              td#cartCALORIES N/A
            tr
              td Fat
              td#cartFAT N/A
            tr
              td Sugar
              td#cartSUGAR N/A
            tr
              td Potassium
              td#cartPOTASSIUM N/A
            tr
              td Calcium
              td#cartCALCIUM N/A
            tr
              td Phosphorous
              td#cartPHOSPHOROUS N/A

        .modal-footer
          button.btn.btn-danger.modalButtons(type='button', data-dismiss='modal') Close

