extends layout

block content
  script(src="/javascripts/index.js")
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      h1#MealBuddy MealBuddy
      button#mealCart.btn.btn-default
        .glyphicon.glyphicon-shopping-cart(type='button', style='display:inline-block;')
        p#cartQuantity(style='display:inline-block;') 0  
  h2.display-4.m-b-2 Criterias
  .main.container-fluid 
    
    //- register form
    form#criteria-form
      table#criteriaTable.form-group
        tr.table-row
          td
            span.glyphicon.glyphicon-remove
          td
            select.form-control.selectpicker.criteria-name(type='text', title='potassium, cholestrol, etc...', data-live-search='true', data-width="100%")
              option(value='fat') fat
              option(value='potassium') potassium
              option(value='sugar') sugar
              option(value='calories') calories
          td
            select.form-control.selectpicker.range-type
              option(value='lt') Less than
              option(value='between') Between
              option(value='gt') Greater than
          td
            input.form-control.range1(type='number', size='5', value=30)
          td
            input.form-control.range2(type='number', size=5, value=50, hidden=true)
          td
            select.form-control.selectpicker.priority(data-width="100%")
              option(value='high') High
              option(value='medium', selected='selected') Medium
              option(value='low') Low

        tr.table-row
          td
            span.glyphicon.glyphicon-remove
          td
            select.form-control.selectpicker.criteria-name(type='text', title='potassium, cholestrol, etc...', data-live-search='true', data-width="100%")
              option(value='fat') fat
              option(value='potassium') potassium
              option(value='sugar') sugar
              option(value='calories') calories
          td
            select.form-control.selectpicker.range-type
              option(value='lt') Less than
              option(value='between') Between
              option(value='gt') Greater than
          td
            input.form-control.range1(type='number', size='5', value=30)
          td
            input.form-control.range2(type='number', size='5', value=30, hidden=true) 
          td
            select.form-control.selectpicker.priority(data-width="100%")
              option(value='high', selected='selected') High
              option(value='medium') Medium
              option(value='low') Low
          
      
      button#add.btn.btn-success(type="button") Add
      
      button#submit.btn.btn-primary(type="button") Submit
      
      //- button#get.btn.btn-success(type="button") Get


  h2 Suggestions

  //- #appetizerContainer Appetizers
  //-   hr(width="50%")
  //-   ul#appetizer.items-list
  //- #mealContainer Meals
  //-   hr(width="50%")
  //-   ul#meal.items-list
  //- #vegetableContainer Vegetables
  //-   hr(width="50%")
  //-   ul#vegetable.items-list
  //- #fruitContainer Fruits
  //-   hr(width="50%")
  //-   ul#fruit.items-list
  //- #beverageContainer Beverages
  //-   hr(width="50%")
  //-   ul#beverage.items-list
  //- #dessertContainer Desserts
  //-   hr(width="50%")
  //-   ul#dessert.items-list

  .panel-group
    .panel.panel-default
      .panel-heading
        .panel-title
          a(data-toggle='collapse', href='#collapse1') Appetizers
        hr(width="50%")
      #collapse1.panel-collapse.collapse
        ul#appetizer.items-list
  .panel-group
    .panel.panel-default
      .panel-heading
        .panel-title
          a(data-toggle='collapse', href='#collapse2') Meals
        hr(width="50%")
      #collapse2.panel-collapse.collapse
        ul#meal.items-list
  .panel-group
    .panel.panel-default
      .panel-heading
        .panel-title
          a(data-toggle='collapse', href='#collapse3') Vegetables
        hr(width="50%")
      #collapse3.panel-collapse.collapse
        ul#vegetable.items-list
  .panel-group
    .panel.panel-default
      .panel-heading
        .panel-title
          a(data-toggle='collapse', href='#collapse4') Fruits
        hr(width="50%")
      #collapse4.panel-collapse.collapse
        ul#fruit.items-list
  .panel-group
    .panel.panel-default
      .panel-heading
        .panel-title
          a(data-toggle='collapse', href='#collapse5') Beverages
        hr(width="50%")
      #collapse5.panel-collapse.collapse
        ul#beverage.items-list
  .panel-group
    .panel.panel-default
      .panel-heading
        .panel-title
          a(data-toggle='collapse', href='#collapse6') Desserts
        hr(width="50%")
      #collapse6.panel-collapse.collapse
        ul#dessert.items-list





  //- Item Modal and Cart Modal
  #itemModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4#item-modal-title.modal-title Food
        .modal-body
          .row
            img#itemInfoImage.img-thumbnail(src="images/default_item_image.jpg")
            #itemInfoCriteriaDesc
            #itemInfoDesc
        .modal-footer
          button.btn.btn-danger.modalButtons(type='button', data-dismiss='modal') Close
          button#addMealCart.btn.btn-primary.modalButtons(type='button') Add To MealCart
          p.modalButtons How Many?
          input#countToAdd.form-control.modalButtons(type='number', size='1', min='1', value=1)
  
  #cartModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4#cart-modal-title.modal-title Your Cart
        #cartModalBody.modal-body
          p#noItems No item in MealCart yet. You can add from suggestions to you Meal Cart
          table#cartItems  
          #cartCriteriaDesc
          table#cartNutritionCount
            tr
              td Calories
              td#cartCALORIES N/A
            tr
              td Fat
              td#cartFAT N/A
            tr
              td Sugar
              td#cartSUGAR N/A
            tr
              td Potassium
              td#cartPOTASSIUM N/A
            tr
              td Calcium
              td#cartCALCIUM N/A
            tr
              td Phosphorous
              td#cartPHOSPHOROUS N/A

        .modal-footer
          button.btn.btn-danger.modalButtons(type='button', data-dismiss='modal') Close

