extends layout

block content
  script(src="/javascripts/index.js")
  nav.navbar.navbar-default.navbar-fixed-top
    h1#MealBuddy MealBuddy
    button#mealCart.btn.btn-default(type='button') MealCart
  h2.display-4.m-b-2 Criterias
  .main.container 
    
    //- register form
    form#criteria-form
      table#criteriaTable.form-group
        tr.table-row
          td
            span.glyphicon.glyphicon-remove
          td
            select.form-control.selectpicker.criteria-name(type='text', title='potassium, cholestrol, etc...', data-live-search='true', data-width="300px")
              option(value='fat') fat
              option(value='potassium') potassium
              option(value='sugar') sugar
              option(value='fat') calories
          td
            select.form-control.selectpicker.priority(data-width="100px")
              option(value='none') 
              option(value='high') High
              option(value='medium', selected='selected') Medium
              option(value='low') Low
          td
            input.form-control.max(type='number', value=50)

        tr.table-row
          td
            span.glyphicon.glyphicon-remove
          td
            select.form-control.selectpicker.criteria-name(type='text', title='potassium, cholestrol, etc...', data-live-search='true', data-width="300px")
              option(value='fat') fat
              option(value='potassium') potassium
              option(value='sugar') sugar
              option(value='fat') calories
          td
            select.form-control.selectpicker.priority(data-width="100px")
              option(value='none') 
              option(value='high', selected='selected') High
              option(value='medium') Medium
              option(value='low') Low
          td
            input.form-control.max(type='number', value=30)
      
      button#add.btn.btn-success(type="button") Add
      
      button#submit.btn.btn-primary(type="button") Submit
      
      //- button#get.btn.btn-success(type="button") Get


  h2 Suggestions

  #appetizerContainer
    .list-group-item.list-group-item-success Appetizers
    ul#appetizer.items-list
  #mealContainer
    .list-group-item.list-group-item-info Meals
    ul#meal.items-list
  #vegetableContainer
    .list-group-item.list-group-item-warning Vegetable
    ul#vegetable.items-list
  #fruitContainer
    .list-group-item.list-group-item-danger Fruits
    ul#fruit.items-list
  #beverageContainer
    .list-group-item.list-group-item-info Beverages
    ul#beverage.items-list
  #dessertContainer
    .list-group-item.list-group-item-success Desserts
    ul#dessert.items-list

  #item-info-popup
    ul#info-list

  #itemModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-sm(role='document')
      .modal-content
        .modal-header
          h4#item-modal-title.modal-title Food
        .modal-body
          .row
            img#itemInfoImage.img-thumbnail(src="images/food.jpg")
            #itemInfoDesc
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button#addMealCart.btn.btn-primary(type='button', data-dismiss='modal') Add To MealCart
  
  #cartModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-sm(role='document')
      .modal-content
        .modal-header
          h4#cart-modal-title.modal-title Your Cart
        #cartModalBody.modal-body
          #cartItems
            p#noItems No item in MealCart yet. You can add from suggestions to you Meal Cart
          table#cartNutritionCount
            tr
              td Calories
              td#cartCALORIES N/A
            tr
              td Fat
              td#cartFAT N/A
            tr
              td Sugar
              td#cartSUGAR N/A
            tr
              td Potassium
              td#cartPOTASSIUM N/A
            tr
              td Calcium
              td#cartCALCIUM N/A
            tr
              td Phosphorous
              td#cartPHOSPHOROUS N/A

        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close

