body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.glyphicon-remove:hover {
	cursor: pointer;
}
.form-control {
	/*width: 50%;*/
}
.criteria-name {
	width: 30%;
}
.table-row td {
	padding-right: 10px;
}
button {
	margin-right: 5px;
}

a:hover {
	cursor: pointer;
}

ul {
	list-style-type: none;
}
#item-info-popup {
	position: fixed;
	z-index: 5;
	height: 60%;
	width: 50%;
	border: 2px solid black;
	border-radius: 5px;
	background-color: lightgrey;
	display: none;
}
#item-info-popup:click {
	display: none;
}