body {
	background-color: floralwhite;
  padding: 50px;
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
	padding: 5px !important;
}
#MealBuddy {
	display: inline-block;
} 
#mealCart {
	float: right;
	display: inline-block;
}
#cartModalBody {
	width: 100%;
}
#cartItems {
	display: inline-block;
	width: 40%
	margin:5px;
	border: 2px solid gray;
}
#cartNutritionCount {
	display: inline-block;
	width: 50%
	margin:5px;
	border: 2px solid gray;
}
a {
  color: #00B7FF;
}

.glyphicon-remove:hover {
	cursor: pointer;
}
.form-control {
	/*width: 50%;*/
}
.criteria-name {
	width: 30%;
}
.table-row td {
	padding-right: 10px;
}
button {
	margin-right: 5px;
}

a:hover {
	cursor: pointer;
}

ul {
	list-style-type: none;
}


#itemInfoImage {
	vertical-align: middle;
	margin:20px;
	width: 200px;
	height: 200px;	
}
#itemInfoDesc {
	float: right;
	width: 60%;
	text-align: center;
	padding: 10px;
	border: 2px solid grey;
}
#item-info-popup {
	position: fixed;
	z-index: 5;
	height: 60%;
	width: 50%;
	border: 2px solid black;
	border-radius: 5px;
	background-color: lightgrey;
	display: none;
}
#item-info-popup:click {
	display: none;
}