html {
	height: 100%;
}
body {
	height: 100%;
	background-image: url('../images/food3.jpg');
	background-size: cover;        
	background-position: 0px 0px;              /* <------ */
    background-repeat: no-repeat;
    background-attachment: fixed;
	padding: 50px;
	padding-top: 70px;
	color: white;
	font-size: 14px;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 100 !important;
}

nav {
	padding: 5px !important;
}
[hidden] {
	display: none !important;
}

#MealBuddy {
	display: inline-block;
	color: maroon;
} 
#mealCart {
	float: right;
	display: inline-block;
	vertical-align: middle;
	background-color: rgba(0,0,0,0);
	border: 2px solid darkorange;
	color: gray;
}
#cartQuantity {
	margin: 0px 0px 0px 5px;
	vertical-align: middle;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#suggestions a {
/*  color: crimson;
*/}
#searchType a {
	color: white;
}
hr {
	border-color: orange;
	margin: 2px;
}

.main {
	text-align: center;
}
#how-it-works {
	border:2px solid darkorange;
	background-color: rgba(0,0,0,0);
	margin-top: 50px;
	margin-bottom: 30px;
	padding: 10px 20px 10px 20px;
	color: white;
	font-size: 15px;
}
#how-it-works:hover {
	color: black;
    background-color: rgb(255, 255, 255);
}
#criteriaMealTable, #criteriaItemTable {
	margin-left: auto;
	margin-right: auto;
}
.glyphicon-remove:hover {
	cursor: pointer;
	color: #f72323;
}
.form-control, button {
	border-radius: 20px !important;
	/*background-color: rgba(256,256,256,.8) !important;*/
}

.form-control:focus, button:focus {
	outline:0 !important;
}
.range1, .range2{
	width: 70px;
	display: inline-block;
}
.units1, .units2 {
	width: 22px;
	padding-left: 2px;
	text-align: left;
	display: inline-block;
}
.table-row td {
	padding: 5px;
}
.table-row td > * {
	vertical-align: middle;
}
.table-row {
	margin-bottom: 5px;
}
.btn {
	margin-right: 5px;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

ul {
	list-style-type: none;
}
#viewAll {
	background-color: #7b7979;
}
#searchType {
	margin-bottom: 30px;
}
#searchType.nav-pills>li>a:hover {
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    background-color: rgba(256,256,256,0);
}

#searchType.nav-pills>li.active>a, #searchType.nav-pills>li.active>a:focus,#searchType.nav-pills>li.active>a:hover {
    border-bottom: 3px solid darkorange;
    border-top: 3px solid darkorange;
    background-color: rgba(256,256,256,0);
}
#suggestions {
	margin-top: 120px;
}
#suggestions .nav-pills, #suggestions .tab-content {
	border-bottom: 2px solid #7d0202;
	background-color: rgba(256,256,256,.8);
}
#suggestions .nav-pills>li>a {
     border-radius: 0px !important; 
}
#suggestions .amount {
	font-size: 10px;
}
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}
#suggestions .tab-content {
	background-color: rgba(256,256,256,.2);
}

#suggestions .nav-tabs, #suggestions .nav-pills {
    text-align:center;
    font-size: 11px;
}


.no-matches {
	color: white;
	font-size: 25px;
	text-align: center;
	padding: 20px 0px 20px 0px;
}
.card-group {
	text-align: center;
}

.card {
	color: black;
	background-color: white;
	width: 200px;
	text-align: center;
	margin: 10px;
	vertical-align: top;
	display: inline-block;
	box-shadow: 0 0 3px #ccc;
}
.card:hover {
	cursor: pointer;
	box-shadow: 0 0 30px #000;
}
.card img {
	width: 200px;
	height: 200px;
}
.card h4 {
	font-size: 15px;
	height: 50px;
}
.card-block {
	padding: 15px;
}
.card-text {
	text-overflow: ellipsis;
}

.items-list {
	background-color: white;
	opacity: .8;
}

/*.panel-group {
	margin-bottom: 1px !important;
}
.panel-default > .panel-heading, .panel {
	color: white;
	background-color: rgba(0,0,0,0) !important;
	border-color: rgba(0,0,0,0) !important;
}
.panel-heading {
	padding: 0px !important;
}*/

#itemInfoImage {
	vertical-align: middle;
	margin:20px;
	width: 200px;
	height: 200px;	
}
#itemInfoCriteriaDesc {
	/*border: 1px solid grey;*/
	text-align: center;
}
.fa-check-circle {
	color: green;
}
.fa-exclamation-circle {
	color: orange;
}
.fa-times-circle {
	color: red;
}
#itemInfoDesc td, #cartNutritionCount td {
	padding:5px 50px 5px 50px;
}
#itemInfoDesc table, #cartNutritionCount table{
	margin-right: auto;
	margin-left: auto;
}
#itemInfoDesc h4, #cartNutritionCount h4 {
	text-align:center;
	border-bottom: 2px solid orange;
}
#itemInfoDesc td:nth-child(2), #cartNutritionCount td:nth-child(2){
	text-align: right;
}
.modal-content {
	background-image: url(../images/texture3.jpg);
	color: #616161;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 500px;
    overflow-y: auto;
}
#cartModalBody {
	width: 100%;
}
#cartItems {
	margin:5px;
}
#cartItems td {
	padding: 5px;
}
#cartItems input {
	width: 50px;
}
#itemOnHoverDesc {
	padding: 10px 0px 0px 0px;
	position: absolute;
	vertical-align: middle;
	text-align: center;
	background-color: #4a4a4a;
    color: white;
    top:0;
	left: 0;
	right: 0;
	display: none;
	border-radius: 20px;
}
.n:hover {
	border-right: 1px solid darkorange;
}
.modalButtons   {
	float: left;
}
#countToAdd {
	width: 60px;
}

.modal-footer p{
	padding: 5px;
	border-left: 1px solid black;
	margin:2px 5px 0px 0px;
}
.modal-footer {
	border-top: 1px solid #ff8f03;
}

.legend {
	float: right;
	text-align: right;
	vertical-align: middle;
}
.status-symbols {
	padding: 0px 3px 0px 3px;
}

#notification-results {
	position: fixed;
	width: 300px;
	padding: 15px;
	top:15%;
	left: 50%;
	margin-top: -100px;  /*Negative half of height. */
	margin-left: -150px;
	text-align: center;
	vertical-align: middle !important;
	background-color: rgb(90,90,90);
	color: white;
	z-index: 2000;
	/*border: 2px solid darkorange;*/
	border-radius: 15px;
}

#tutorial {
	position: fixed;
	width: 70%;
	padding: 15px;
	/*height: 400px;*/
	top:90px;
	left: 50%;
	margin-top: 0%;  /*Negative half of height. */
	margin-left: -35%;
	text-align: center;
	vertical-align: middle !important;
	background-color: white;
	color: black;
	z-index: 2000;
	/*border: 2px solid darkorange;*/
	border-radius: 15px;
	border: 2px solid darkorange;
	display: none;
} 

